.error-page {
    margin-top: rem(65px);
    height: 100%;
    flex-direction: column;

    .error-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .error-button {
        transform: translateY(-100px);
    }

    .button {
        font-weight: 300;
        color: $skyblue;
        background-color: $text-navy;
        font-size: 1.2em;
        text-decoration: none;
        border: 1px solid #efefef;
        padding: .5em;
        border-radius: 3px;
        transition: all .3s linear;
    }

    .button:hover {
        background-color: #007aff;
        color: #fff;
    }

    p {
        font-size: 2em;
        text-align: center;
        font-weight: 100;
    }

    h1 {
        text-align: center;
        font-size: 15em;
        font-weight: 100;
        color: $text-navy;
    }
}